.airagent-login {
        background: url('./images/login.svg') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: bottom !important;
        width: 100%;
        height: 100vh;
}